<!-- Использованы классы бутстрапа: -->
<!-- border-top: создаёт тонкую линию сверху блока -->
<!-- text-center: выравнивает текстовые блоки внутри блока по центру -->
<!-- py-3: контент внутри размещается с отступом сверху и снизу -->
<footer class="border-top text-center py-3">
  <!-- тег span используется для добавления нужных стилей отдельным участкам текста -->
  <p>© {{ year }} Copyright <span style="color:red">Ya</span>tube</p>
  <h4>
    <a href="https://instagram.com/nesskame?igshid=NTc4MTIwNjQ2YQ=="><i
            class="bi bi-instagram link-dark"></i></a>
    <a href="https://t.me/justbreave"><i class="bi bi-telegram link-dark"></i></a>
    <a href="https://github.com/Nintiko"><i class="bi bi-github link-dark"></i></a>
    <a href="https://www.youtube.com/channel/UCl0ntijojKUUwQxmozoN1Jg"><i
            class="bi bi-youtube link-dark"></i></a>
  </h4>
  <p>
    <a href="{% url 'about:map' %}" class="link-dark"
       style="text-decoration: none">Карта сайта</a>
  </p>
</footer>